
//MAIN PAGE

.hood-steps {
    background-color: gray;
}

/////CATEGORIES

.wrapper {
    position: relative;
}

.wrapper-caption {
    z-index: 1;
    height: inherit;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.wrapper h2 {
    color: white;
}

.wrapper p {
    color: white;
}

.emergency-button {
    height: 100px;
}

/////SERVICES STEPS

.steps-title {
    background-color: #301451;
}

#steps-container {
    margin-top: 50px;
    margin-bottom: 20px;
}

.hood-steps-sides {
    background-color: #241D1D;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #B0AEAE;
    min-height: 380px;
}

.hood-steps-center {
    background-color: #B0AEAE;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #241D1D;
    min-height: 380px;
}

#steps-container .col-md-4{
    padding-right: 0px;
    padding-left: 0px;
}

.hood-benefits h3 {
    padding-left: 20px;
    padding-right: 20px;
}

.hood-benefits img {
    max-width: 100px;
    max-height: 100px;
}

@media (min-width: 768px) and (max-width: 992px) {
    #entrega, #tarifa {
        margin-bottom: 36px;
    }
    
    #steps-container h2 {
        font-size: 1.7em;
    }
    
    #steps-container #steps-title {
        font-size: 3.5em;
    }
}

@media (max-width: 768px) {
    .hood-benefits img {
        margin-bottom: 35px;
    }
    
    #steps-container p {
        font-size: 1.55em;
        font-weight: normal;
    }
}

//Hood Services

.services-container {
    margin-top: 60px;
}
