///Hood Services

div#services-container {
    margin-top: 80px;
}

#services-container img {
    height: 90px;
}

#specific-services * .service-card {
    height: 280px;
}

#service-card-modal .service-label, .modal-title, .price-label, .provider-label {
    font-size: 1.8em;
    color: #777;
    font-weight: 400;
}

#service-card-modal .price-label {
    font-size: 1em;
}
    
#service-card-modal .provider-label {
    font-size: 1.4em;
}

